@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: rgba(45, 50, 80, 0.5843137255);
}
header .logo {
  width: 35px;
  margin: 7px 0px 7px 20px;
}
header .anclasNavegador {
  color: #d5a707;
  font-weight: 800;
}
header .anclasNavegador:hover {
  text-decoration: underline 2px;
  color: #fff;
}
header .custom-toggler {
  background-color: #d5a707;
}
header .custom-toggler-icon {
  background-color: #d5a707;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2d3250;
  }
}
.encabezado {
  height: 300px;
}
.encabezado .tituloPagina {
  font-weight: 900;
  color: #d5a707;
}
.encabezado .subtituloPagina {
  font-weight: 800;
}
.encabezado .encabezado__img {
  z-index: -1;
  height: 360px;
  object-fit: cover;
}

.spanWhite {
  font-weight: 700;
  color: #fff;
}

.spanViolet {
  font-weight: 700;
  color: #2d3250;
}

.botones, .botonesInversos {
  text-decoration: none;
  background-color: #d5a707;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 800;
  border: 3px solid transparent;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.botones:hover, .botonesInversos:hover {
  background-color: #fff;
  color: #d5a707;
  border: 3px solid;
}

.botonesInversos {
  background-color: #fff;
  color: #d5a707;
  border: 3px solid;
}
.botonesInversos:hover {
  background-color: #d5a707;
  color: #fff;
  border-width: 3px solid transparent;
}

/* Aqui van los estilos especificos de la pagina index*/
.subtitulosIndex {
  font-weight: 800;
  color: #2d3250;
}

/* Aqui van los estilos especificos de la pagina historia*/
.divBackground {
  background-image: url(../assets/img/historia/cdc1.jpg);
}

.fundadores {
  position: relative;
}
.fundadores .imgFundadores, .fundadores .imgHover {
  width: 170px;
}
.fundadores .imgHover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fundadores .imgHover:hover {
  opacity: 1;
}

.tarjetas {
  background-color: #2d3250;
  border-radius: 100px;
}
.tarjetas .tituloTarjetas {
  color: #d5a707;
}
.tarjetas .magosDiv .tarjetasMagos {
  background-color: #d5a707;
  border-radius: 16px;
}
.tarjetas .magosDiv .tarjetasMagos .imgTarjetas {
  height: 340px;
  object-fit: cover;
  width: 95%;
  margin: 7px;
}

/*Aqui van los estilos especificos de la pagina inscripciones*/
.tituloInscripciones {
  font-weight: 800;
  color: #2d3250;
}

.subtituloFelicitaciones {
  color: #2d3250;
  font-weight: 700;
}

.tarjetaError {
  background-color: #424769;
}
.tarjetaError .subtituloError {
  font-weight: 700;
}

.galeria .subtitulo {
  color: #2d3250;
  font-weight: 800;
}
.galeria .contenedorGaleria {
  row-gap: 40px;
}
.galeria .contenedorGaleria .imgGaleria {
  view-timeline-name: --img;
  view-timeline-axis: block;
  animation-timeline: --img;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
  max-width: 95%;
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.75);
  position: relative;
}
.galeria .contenedorGaleria .imgGaleria img {
  object-fit: cover;
}
.galeria .contenedorGaleria .imgGaleria .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2d3250;
}
.galeria .contenedorGaleria .imgGaleria:hover .overlay {
  opacity: 0.8;
}

/*Aqui van los estilos especificos de la pagina padres*/
.contenedorCorreo {
  z-index: -1;
  background-color: #2d3250;
}
.contenedorCorreo .imgCorreo {
  height: 360px;
  object-fit: cover;
}

.contenedorNoticias .subtitulo {
  color: #2d3250;
}
.contenedorNoticias .noticia .imgNoticias {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

/*Aqui van los estilos especificos de la pagina contacto*/
.formContac {
  border-radius: 20px;
  background-color: #2d3250;
  padding: 50px;
}
.formContac .form-control {
  color: #fff;
  background-color: #2d3250;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 4px 4px 0 0;
}
.formContac .formTittles {
  font-weight: 800;
}
.formContac .botones, .formContac .botonesInversos {
  background-color: #676f9d;
  color: #fff;
  width: 200px;
}
.formContac .botones:hover, .formContac .botonesInversos:hover {
  background-color: #fff;
  color: #676f9d;
}

.divContac .divInforContac {
  box-sizing: content-box;
}
.divContac .subtitulo {
  color: #424769;
  font-weight: 800;
}
.divContac .mapa {
  border: 15px #d5a707 solid;
  background-color: #d5a707;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 100% !important;
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
footer {
  background-color: #2d3250;
}

.iconosRedes:hover .iconosRedes:not(:hover) {
  flex-grow: 1;
}

.animationInstagram {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.animationInstagram:hover {
  transform: scale(1.2);
  color: #833AB4;
  flex-grow: 2;
}

.animationFacebook {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.animationFacebook:hover {
  transform: scale(1.2);
  color: #1877F2;
  flex-grow: 2;
}

.animationWhatsApp {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.animationWhatsApp:hover {
  transform: scale(1.2);
  color: #25D366;
  flex-grow: 2;
}

.animationYoutube {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.animationYoutube:hover {
  transform: scale(1.2);
  color: #FF0000;
  flex-grow: 2;
}

.iconoWhatsapp {
  width: 40px;
  height: 40px;
}
.iconoWhatsapp .icono {
  text-decoration: none;
  color: #d5a707;
  font-size: 2rem;
  cursor: pointer;
}

.mapa {
  max-width: 100%;
}

/*# sourceMappingURL=estilos.css.map */
