footer {
    background-color: $darker-violet;
}
    @mixin iconosRedes ($color){
        text-decoration: none;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
            color: $color;
            flex-grow: 2;
        }          
    }
    .iconosRedes:hover .iconosRedes:not(:hover) {
        flex-grow: 1;
    }
    .animationInstagram{
        @include iconosRedes(#833AB4);
    }
    .animationFacebook{
        @include iconosRedes(#1877F2);
    }
    .animationWhatsApp{
        @include iconosRedes(#25D366);
    }
    .animationYoutube{
        @include iconosRedes(#FF0000);
    }
    .iconoWhatsapp {
        width: 40px;
        height: 40px;
        .icono {
            text-decoration: none;
            color: $golden-yellow;
            font-size: 2rem;
            cursor: pointer;
        }
    }


    .mapa {
        max-width: 100%;
    }

