header {
    // Aca no uso variable porque el color es semi-transparente  
    background-color: #2d325095;
    .logo {
        width: 35px;
        margin: 7px 0px 7px 20px;
    }
    .anclasNavegador{
        color: $golden-yellow;
        font-weight: 800;               
        &:hover{
        text-decoration: underline 2px; 
        color: $white;    
        }
    }
    .custom-toggler {
        background-color: $golden-yellow;
        }
          
    .custom-toggler-icon {
        background-color: $golden-yellow;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $darker-violet;
    }
}
