    main {
        .encabezado {
            height: 300px;
            .tituloPagina {
                font-weight: map-get($map: $fontWeights, $key: 9);
                color: $golden-yellow;
            }

            .subtituloPagina {
                font-weight: map-get($map: $fontWeights, $key: 8)
            }        
            .encabezado__img {
                z-index: -1;
                height: 360px;
                object-fit: $fit-container;
            }
        }     
        .botones {
            text-decoration: none;
            background-color: $golden-yellow;
            color: $white;
            text-align: center;
            padding: 10px;
            font-weight: map-get($map: $fontWeights, $key: 8);
            border-radius: 13px;
            &:hover {
                background-color: $white;
                color: $golden-yellow;  
                border-width: 3px;
                border-style: solid;
            }
        }        
        .botonesInversos {
            @extend .botones;
            background-color: $white;
            color: $golden-yellow;  
            border-width: 3px;
            border-style: solid;
            &:hover {
                background-color: $golden-yellow;
                color: $white;
            }
        }
        
        /* Aqui van los estilos especificos de la pagina index*/

     
        .subtitulosIndex {
        font-weight: map-get($map: $fontWeights, $key: 8);
        color: $darker-violet;
        }    
         
        

        /* Aqui van los estilos especificos de la pagina historia*/
        .divBackground {
            background-image: url(../assets/img/historia/cdc1.jpg);
        }
        .imgFundadores {
            width: 170px;
        }  
        .tarjetas {
            background-color: $darker-violet;
            border-radius: 100px;
            .tituloTarjetas {
                color: $golden-yellow;
            }
            .magosDiv {
                .tarjetasMagos {
                    background-color: $golden-yellow;
                    border-radius: 16px;
                    .imgTarjetas {
                        height: 340px;
                        object-fit: $fit-container;
                        width: 95%;
                        margin: 7px;
                    }
                }
            }
        }

        /*Aqui van los estilos especificos de la pagina inscripciones*/
        .tituloInscripciones {
            font-weight: map-get($map: $fontWeights, $key: 8);
            color: $darker-violet;        
            }
        .subtituloFelicitaciones {
            color: $darker-violet;
            font-weight: map-get($map: $fontWeights, $key: 7);
        }
        .tarjetaError {
            background-color: $medium-violet;
            .subtituloError {
                font-weight: map-get($map: $fontWeights, $key: 7);
            }
        }

        .galeria {
            .subtitulo {
                color: $darker-violet;
                font-weight: map-get($map: $fontWeights, $key: 8);
            }
            .contenedorGaleria {
                row-gap: 40px;
                .imgGaleria {
                    width: 400px;
                    height: 200px;
                    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.75);
                    
                    img {
                        object-fit: $fit-container;
                    }
                }
            }
        }

        /*Aqui van los estilos especificos de la pagina padres*/

            .contenedorCorreo {
                z-index: -1;
                background-color: #2d3250;
                .imgCorreo {
                    height: 360px;
                    object-fit: cover;
                }
            }
            .contenedorNoticias {
                .subtitulo {
                    color: #2d3250;
                }
                .noticia {
                    .imgNoticias {
                        width: 100%;
                        height: 340px;
                        object-fit: cover;
                    }
                }
            }
        

        /*Aqui van los estilos especificos de la pagina contacto*/

        .contenedorContactoFlex {
            .formularioTexto {
                color: #2d3250;
            }
            .botones{
                border-style: none;
            }
            /*aca intente darle estilo a los inputs y me gusto el resultado por lo que lo deje, pero el placeholder desaparece por mas de que le ponga un color*/
            .inputs {
                background-color: #676f9d;
                &:focus{
                    background-color: #fff;
                    box-shadow: 0px 0px 20px 0px #676f9d inset;
                    color: #2d3250;
                    font-weight: 600;
                    border: 1px solid;
                }
            }
            .subtitulo {
                color: #2d3250;
            }
            .mapa {
               border: 15px #d5a707 solid;
               background-color: #d5a707;
            }
            .divconta {
                box-sizing: content-box;
            }
        }
    }