@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";
@import "mixins.scss";
@import "reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

